# Ignore file types
*.RData
*.docx
*.pptx
*.html
*.bib

# Ignore specific files
.Rproj.user
.Rhistory
.Ruserdata
.RDataTmp

# Ignore specific folders
3_R/- Archive/
3_R/Main Results/
3_R/Sensitivity Results/
3_R/Figures/
3_R/Tables/
